body {
  /* padding-top:5.5em; */
/*   min-height: 75rem; */
 font-family: Raleway, sans-serif;
}

.navbar {
 box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
}

.navbar-nav .nav-item .nav-link{
  padding: 15px 25px;

}

    
@media (max-width: 1450px) { 
    
.navbar-nav .nav-item .nav-link{
  padding: 15px 20px;
  font-size:0.9em

}   
    
}

@media (max-width: 1300px) { 
    
.navbar-nav .nav-item .nav-link{
  padding: 15px 18px;
  font-size:0.85em

}   
    
}