body { 
	font-family: Raleway; 
	}



.formulaire{
	margin-top:15px;
	background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);
	padding: 20px 30px;
	border: 1px solid grey;
}

.field-icon {
  float: right;
  right:10px;
  margin-top: -25px;
  position: relative;

}
