body { 
	font-family: Raleway; 
	}



.formulaire{
	margin-top:70px;
	background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);
	padding: 30px 30px;
	border: 1px solid grey;
}